<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.future.xlink">

    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <application  android:allowBackup="true" android:supportsRtl="true">
        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <service android:name="com.future.xlink.mqtt.RxMqttService"/>


    </application>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

</manifest>