<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="top.keepempty">
    <!--back_service使用方法-->
    <!--https://github.com/xingda920813/HelloDaemon-->
    <!--监听网络状态变化-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"></uses-permission>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--后台保活重要权限-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".servicekeep.App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".SwitchAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".serialport.SerialPortActivity"></activity>

        <activity android:name=".servicekeep.KeepServiceActivity">

        </activity>
        <activity android:name=".serialportnormal.SerialPortNormalAty">

        </activity>
        <!--服务必须要注册-->
        <service android:name=".servicekeep.TraceServiceImpl"></service>

    </application>

</manifest>