<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wave_chtj.example">
    <!---->
    <!--系统弹窗-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <!--bugly 更新 |热更新 需要的权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />
    <!--读取eth相关-->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.READ_NETWORK_USAGE_HISTORY"
        tools:ignore="ProtectedPermissions" />

    <!--读写文件权限-->
    <!--excel jxl.jar操作权限-->
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!--静默安装权限-->
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="permission.REQUEST_INSTALL_PACKAGES" />
    <!--应用卸载权限-->
    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <!--监听网络状态变化-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--后台保活重要权限-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <!--启动模式-->
    <!--
         standard：      标准模式     不管实例是否已经存在 都会创建一个实例
         singleTop：     栈顶复用模式 启动的Activity已经处于栈的顶部，此时系统不会创建新的实例，而是直接打开此页面
         singleTask：    栈内复用模式 栈中存在这个Activity的实例就会复用Activity，不管它是否位于栈顶，复用时，会将它上面的Activity全部出栈
         singleInstance：单实例模式   有全局唯一性，即整个系统中就这么一个实例,如果栈中存在，那么会把所在的任务调度到前台，重用这个实例
    -->
    <!--开启启动完成-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!--usb设备监听-->
    <uses-permission android:name="android.permission.HARDWARE_TEST"
        tools:ignore="ProtectedPermissions" />
    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.hardware.usb.accessory" />

    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".application.DefaultApplication"
        android:allowBackup="true"
        android:icon="@mipmap/app_img"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        android:roundIcon="@mipmap/app_img"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--启动页-->
        <activity
            android:name=".StartPageAty"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--功能选择-->
        <activity
            android:name=".FeaturesOptionAty"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|screenLayout"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme">
        </activity>
        <!--后台服务-->
        <!--串口相关-->
        <activity
            android:name=".serialport.SerialPortAty"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <!--屏幕适配相关-->
        <activity
            android:name=".screen.ScreenActivity"
            android:theme="@style/AppTheme" />
        <!--文件读写-->
        <activity
            android:name=".file.FileOperatAty"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <!--文件下载-->
        <activity
            android:name=".download.DownLoadAty"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <!--Socket udp/tcp-->
        <activity
            android:name=".socket.SocketAty"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <!--全局异常捕获-->
        <activity android:name=".crash.CrashAty" />
        <!--网络监听-->
        <activity android:name=".network.NetChangeAty" />
        <!--greenDAO数据库操作-->
        <activity android:name=".greendao.GreenDaoSqliteAty" />
        <!--查看所有app详情-->
        <activity android:name=".allapp.AllAppAty" />
        <!--定时器-->
        <activity android:name=".timer.TimerAty"/>
        <!--视频播放-->
        <activity
            android:name=".play.VideoPlayAty"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="unspecified" />
        <!--音频播放-->
        <activity android:name=".playmedia.PlayMediaAty" />

        <!--在服务里面进行一些application应该执行的初始化操作-->
        <service android:name=".application.InitializeService" />

        <service android:name=".crash.MyService" />
        <!--重启后广播监听-->
        <receiver
            android:name=".util.BaseIotReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>
    </application>
</manifest>