<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wave_chtj.example">

    <!--bugly 更新 |热更新 需要的权限-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <!--监听网络状态变化-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--后台保活重要权限-->
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_img"
        android:label="@string/app_name"
        android:name=".application.SampleApplication"
        android:roundIcon="@mipmap/app_img"
        android:supportsRtl="true"
        android:theme="@style/AppThemeWelcome">
        <!--功能选择-->
        <activity android:name=".FeaturesOptionAty">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--后台服务-->
        <activity android:name=".keepservice.KeepServiceActivity"
            android:theme="@style/AppTheme"/>
        <!--串口相关-->
        <activity android:name=".serialport.SerialPortAty"
            android:theme="@style/AppTheme"/>
        <!--屏幕适配相关-->
        <activity android:name=".screen.ScreenActivity"
            android:theme="@style/AppTheme"/>
        <!--文件读写-->
        <activity android:name=".file.FileOperatAty"
            android:theme="@style/AppTheme"/>
        <!--文件下载-->
        <activity android:name=".download.DownLoadAty"
            android:theme="@style/AppTheme"/>
        <!--服务必须要注册-->
        <service android:name=".keepservice.TraceServiceImpl"/>

        <!--bugly-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>




</manifest>