<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chtj.framework_utils">
    <!-- 解决java.lang.SecurityException: ConnectivityService: Neither user 10134 nor current process has android.permission.ACCESS_NETWORK_STATE -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECOVERY"
        tools:ignore="ProtectedPermissions" />
    <!--WIFI相关-->
    <!--监听网络状态变化-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--文件写入权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--文件读取权限-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--网络权限-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--静默安装权限-->
    <uses-permission
        android:name="android.permission.INSTALL_PACKAGES"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="permission.REQUEST_INSTALL_PACKAGES" />
    <!--应用卸载权限-->
    <uses-permission
        android:name="android.permission.DELETE_PACKAGES"
        tools:ignore="ProtectedPermissions" />
</manifest>